body {
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 300px;
  height: 300px;
}

.pixel {
  width: 10px;
  height: 10px;
  float: left;
  box-shadow: 0px 0px 1px #fff;
}

/* 1st row */
.pixel:nth-child(1),
.pixel:nth-child(2),
.pixel:nth-child(3),
.pixel:nth-child(4),
.pixel:nth-child(5),
.pixel:nth-child(6),
.pixel:nth-child(7),
.pixel:nth-child(8),
.pixel:nth-child(9),
.pixel:nth-child(10),
.pixel:nth-child(11),
.pixel:nth-child(12),
.pixel:nth-child(13),
.pixel:nth-child(14),
.pixel:nth-child(15),
.pixel:nth-child(16),
.pixel:nth-child(17),
.pixel:nth-child(18),
.pixel:nth-child(19),
.pixel:nth-child(20),
.pixel:nth-child(21),
.pixel:nth-child(22),
.pixel:nth-child(23),
.pixel:nth-child(24),
.pixel:nth-child(25),
.pixel:nth-child(26),
.pixel:nth-child(27),
.pixel:nth-child(28),
.pixel:nth-child(29),
.pixel:nth-child(30),
/* 2nd row */
.pixel:nth-child(31),
.pixel:nth-child(32),
.pixel:nth-child(33),
.pixel:nth-child(34),
.pixel:nth-child(35),
.pixel:nth-child(36),
.pixel:nth-child(37),
.pixel:nth-child(38),
.pixel:nth-child(39),
.pixel:nth-child(40),
.pixel:nth-child(41),
.pixel:nth-child(42),
.pixel:nth-child(43),
.pixel:nth-child(44),
.pixel:nth-child(45),
.pixel:nth-child(46),
.pixel:nth-child(47),
.pixel:nth-child(48),
.pixel:nth-child(49),
.pixel:nth-child(50),
.pixel:nth-child(51),
.pixel:nth-child(52),
.pixel:nth-child(53),
.pixel:nth-child(54),
.pixel:nth-child(55),
.pixel:nth-child(56),
.pixel:nth-child(57),
.pixel:nth-child(58),
.pixel:nth-child(59),
.pixel:nth-child(60),
/* 3rd row */
.pixel:nth-child(61),
.pixel:nth-child(62),
.pixel:nth-child(63),
.pixel:nth-child(64),
.pixel:nth-child(65),
.pixel:nth-child(66),
.pixel:nth-child(67),
.pixel:nth-child(68),
.pixel:nth-child(69),
.pixel:nth-child(70),
.pixel:nth-child(71),
.pixel:nth-child(72),
.pixel:nth-child(73),
.pixel:nth-child(74),
.pixel:nth-child(75),
.pixel:nth-child(76),
.pixel:nth-child(77),
.pixel:nth-child(78),
.pixel:nth-child(79),
.pixel:nth-child(80),
.pixel:nth-child(81),
.pixel:nth-child(82),
.pixel:nth-child(83),
.pixel:nth-child(84),
.pixel:nth-child(85),
.pixel:nth-child(86),
.pixel:nth-child(87),
.pixel:nth-child(88),
.pixel:nth-child(89),
.pixel:nth-child(90),
/* 4th row */
.pixel:nth-child(91),
.pixel:nth-child(92),
.pixel:nth-child(93),
.pixel:nth-child(94),
.pixel:nth-child(95),
.pixel:nth-child(96),
.pixel:nth-child(97),
.pixel:nth-child(98),
.pixel:nth-child(99),
.pixel:nth-child(100),
.pixel:nth-child(101),
.pixel:nth-child(102),
.pixel:nth-child(103),
.pixel:nth-child(104),
.pixel:nth-child(105),
.pixel:nth-child(106),
.pixel:nth-child(107),
.pixel:nth-child(108),
.pixel:nth-child(109),
.pixel:nth-child(110),
.pixel:nth-child(111),
.pixel:nth-child(112),
.pixel:nth-child(113),
.pixel:nth-child(114),
.pixel:nth-child(115),
.pixel:nth-child(116),
.pixel:nth-child(117),
.pixel:nth-child(118),
.pixel:nth-child(119),
.pixel:nth-child(120),
/* 5th row */
.pixel:nth-child(121),
.pixel:nth-child(122),
.pixel:nth-child(123),
.pixel:nth-child(124),
.pixel:nth-child(125),
.pixel:nth-child(126),
.pixel:nth-child(127),
.pixel:nth-child(128),
.pixel:nth-child(129),
.pixel:nth-child(130),
.pixel:nth-child(131),
.pixel:nth-child(132),
.pixel:nth-child(133),
.pixel:nth-child(134),
.pixel:nth-child(135),
.pixel:nth-child(136),
.pixel:nth-child(137),
.pixel:nth-child(138),
.pixel:nth-child(139),
.pixel:nth-child(140),
.pixel:nth-child(141),
.pixel:nth-child(142),
.pixel:nth-child(143),
.pixel:nth-child(144),
.pixel:nth-child(145),
.pixel:nth-child(146),
.pixel:nth-child(147),
.pixel:nth-child(148),
.pixel:nth-child(149),
.pixel:nth-child(150) {
  background-color: #ff0000;
}

/* 6th row */
.pixel:nth-child(151),
.pixel:nth-child(152),
.pixel:nth-child(153),
.pixel:nth-child(154),
.pixel:nth-child(155),
.pixel:nth-child(156),
.pixel:nth-child(157),
.pixel:nth-child(158),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(161),
.pixel:nth-child(162),
.pixel:nth-child(163),
.pixel:nth-child(164),
.pixel:nth-child(165),
.pixel:nth-child(166),
.pixel:nth-child(167),
.pixel:nth-child(168),
.pixel:nth-child(169),
.pixel:nth-child(170),
.pixel:nth-child(171),
.pixel:nth-child(172),
.pixel:nth-child(173),
.pixel:nth-child(174),
.pixel:nth-child(175),
.pixel:nth-child(176),
.pixel:nth-child(177),
.pixel:nth-child(178),
.pixel:nth-child(179),
.pixel:nth-child(180),
/* 7th row */
.pixel:nth-child(181),
.pixel:nth-child(182),
.pixel:nth-child(183),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(186),
.pixel:nth-child(187),
.pixel:nth-child(188),
.pixel:nth-child(189),
.pixel:nth-child(190),
.pixel:nth-child(191),
.pixel:nth-child(192),
.pixel:nth-child(193),
.pixel:nth-child(194),
.pixel:nth-child(195),
.pixel:nth-child(196),
.pixel:nth-child(197),
.pixel:nth-child(198),
.pixel:nth-child(199),
.pixel:nth-child(200),
.pixel:nth-child(201),
.pixel:nth-child(202),
.pixel:nth-child(203),
.pixel:nth-child(204),
.pixel:nth-child(205),
.pixel:nth-child(206),
.pixel:nth-child(207),
.pixel:nth-child(208),
.pixel:nth-child(209),
.pixel:nth-child(210),
/* 8th row */
.pixel:nth-child(211),
.pixel:nth-child(212),
.pixel:nth-child(213),
.pixel:nth-child(214),
.pixel:nth-child(215),
.pixel:nth-child(216),
.pixel:nth-child(217),
.pixel:nth-child(218),
.pixel:nth-child(219),
.pixel:nth-child(220),
.pixel:nth-child(221),
.pixel:nth-child(222),
.pixel:nth-child(223),
.pixel:nth-child(224),
.pixel:nth-child(225),
.pixel:nth-child(226),
.pixel:nth-child(227),
.pixel:nth-child(228),
.pixel:nth-child(229),
.pixel:nth-child(230),
.pixel:nth-child(231),
.pixel:nth-child(232),
.pixel:nth-child(233),
.pixel:nth-child(234),
.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(238),
.pixel:nth-child(239),
.pixel:nth-child(240),
/* 9th row */
.pixel:nth-child(241),
.pixel:nth-child(242),
.pixel:nth-child(243),
.pixel:nth-child(244),
.pixel:nth-child(245),
.pixel:nth-child(246),
.pixel:nth-child(247),
.pixel:nth-child(248),
.pixel:nth-child(249),
.pixel:nth-child(250),
.pixel:nth-child(251),
.pixel:nth-child(252),
.pixel:nth-child(253),
.pixel:nth-child(254),
.pixel:nth-child(255),
.pixel:nth-child(256),
.pixel:nth-child(257),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(260),
.pixel:nth-child(261),
.pixel:nth-child(262),
.pixel:nth-child(263),
.pixel:nth-child(264),
.pixel:nth-child(265),
.pixel:nth-child(266),
.pixel:nth-child(267),
.pixel:nth-child(268),
.pixel:nth-child(269),
.pixel:nth-child(270) {
  background-color: #ff5500;
}

/* 10th row */
.pixel:nth-child(271),
.pixel:nth-child(272),
.pixel:nth-child(273),
.pixel:nth-child(274),
.pixel:nth-child(275),
.pixel:nth-child(276),
.pixel:nth-child(277),
.pixel:nth-child(278),
.pixel:nth-child(279),
.pixel:nth-child(280),
.pixel:nth-child(281),
.pixel:nth-child(282),
.pixel:nth-child(283),
.pixel:nth-child(284),
.pixel:nth-child(285),
.pixel:nth-child(286),
.pixel:nth-child(287),
.pixel:nth-child(288),
.pixel:nth-child(289),
.pixel:nth-child(290),
.pixel:nth-child(291),
.pixel:nth-child(292),
.pixel:nth-child(293),
.pixel:nth-child(294),
.pixel:nth-child(295),
.pixel:nth-child(296),
.pixel:nth-child(297),
.pixel:nth-child(298),
.pixel:nth-child(299),
.pixel:nth-child(300),
/* 11th row */
.pixel:nth-child(301),
.pixel:nth-child(302),
.pixel:nth-child(303),
.pixel:nth-child(304),
.pixel:nth-child(305),
.pixel:nth-child(306),
.pixel:nth-child(307),
.pixel:nth-child(308),
.pixel:nth-child(309),
.pixel:nth-child(310),
.pixel:nth-child(311),
.pixel:nth-child(312),
.pixel:nth-child(313),
.pixel:nth-child(314),
.pixel:nth-child(315),
.pixel:nth-child(316),
.pixel:nth-child(317),
.pixel:nth-child(318),
.pixel:nth-child(319),
.pixel:nth-child(320),
.pixel:nth-child(321),
.pixel:nth-child(322),
.pixel:nth-child(323),
.pixel:nth-child(324),
.pixel:nth-child(325),
.pixel:nth-child(326),
.pixel:nth-child(327),
.pixel:nth-child(328),
.pixel:nth-child(329),
.pixel:nth-child(330),
/* 12th row */
.pixel:nth-child(331),
.pixel:nth-child(332),
.pixel:nth-child(333),
.pixel:nth-child(334),
.pixel:nth-child(335),
.pixel:nth-child(336),
.pixel:nth-child(337),
.pixel:nth-child(338),
.pixel:nth-child(339),
.pixel:nth-child(340),
.pixel:nth-child(341),
.pixel:nth-child(342),
.pixel:nth-child(343),
.pixel:nth-child(344),
.pixel:nth-child(345),
.pixel:nth-child(346),
.pixel:nth-child(347),
.pixel:nth-child(348),
.pixel:nth-child(349),
.pixel:nth-child(350),
.pixel:nth-child(351),
.pixel:nth-child(352),
.pixel:nth-child(353),
.pixel:nth-child(354),
.pixel:nth-child(355),
.pixel:nth-child(356),
.pixel:nth-child(357),
.pixel:nth-child(358),
.pixel:nth-child(359),
.pixel:nth-child(360),
/* 13th row */
.pixel:nth-child(361),
.pixel:nth-child(362),
.pixel:nth-child(363),
.pixel:nth-child(364),
.pixel:nth-child(365),
.pixel:nth-child(366),
.pixel:nth-child(367),
.pixel:nth-child(368),
.pixel:nth-child(369),
.pixel:nth-child(370),
.pixel:nth-child(371),
.pixel:nth-child(372),
.pixel:nth-child(373),
.pixel:nth-child(374),
.pixel:nth-child(375),
.pixel:nth-child(376),
.pixel:nth-child(377),
.pixel:nth-child(378),
.pixel:nth-child(379),
.pixel:nth-child(380),
.pixel:nth-child(381),
.pixel:nth-child(382),
.pixel:nth-child(383),
.pixel:nth-child(384),
.pixel:nth-child(385),
.pixel:nth-child(386),
.pixel:nth-child(387),
.pixel:nth-child(388),
.pixel:nth-child(389),
.pixel:nth-child(390) {
  background-color: #fdff00;
}

/* 14th row */
.pixel:nth-child(391),
.pixel:nth-child(392),
.pixel:nth-child(393),
.pixel:nth-child(394),
.pixel:nth-child(395),
.pixel:nth-child(396),
.pixel:nth-child(397),
.pixel:nth-child(398),
.pixel:nth-child(399),
.pixel:nth-child(400),
.pixel:nth-child(401),
.pixel:nth-child(402),
.pixel:nth-child(403),
.pixel:nth-child(404),
.pixel:nth-child(405),
.pixel:nth-child(406),
.pixel:nth-child(407),
.pixel:nth-child(408),
.pixel:nth-child(409),
.pixel:nth-child(410),
.pixel:nth-child(411),
.pixel:nth-child(412),
.pixel:nth-child(413),
.pixel:nth-child(414),
.pixel:nth-child(415),
.pixel:nth-child(416),
.pixel:nth-child(417),
.pixel:nth-child(418),
.pixel:nth-child(419),
.pixel:nth-child(420),
/* 15th row */
.pixel:nth-child(421),
.pixel:nth-child(422),
.pixel:nth-child(423),
.pixel:nth-child(424),
.pixel:nth-child(425),
.pixel:nth-child(426),
.pixel:nth-child(427),
.pixel:nth-child(428),
.pixel:nth-child(429),
.pixel:nth-child(430),
.pixel:nth-child(431),
.pixel:nth-child(432),
.pixel:nth-child(433),
.pixel:nth-child(434),
.pixel:nth-child(435),
.pixel:nth-child(436),
.pixel:nth-child(440),
.pixel:nth-child(441),
.pixel:nth-child(442),
.pixel:nth-child(449),
.pixel:nth-child(450),
/* 16th row */
.pixel:nth-child(451),
.pixel:nth-child(452),
.pixel:nth-child(453),
.pixel:nth-child(454),
.pixel:nth-child(455),
.pixel:nth-child(456),
.pixel:nth-child(457),
.pixel:nth-child(458),
.pixel:nth-child(459),
.pixel:nth-child(460),
.pixel:nth-child(461),
.pixel:nth-child(462),
.pixel:nth-child(463),
.pixel:nth-child(464),
.pixel:nth-child(465),
.pixel:nth-child(466),
.pixel:nth-child(470),
.pixel:nth-child(471),
.pixel:nth-child(480),
/* 17th row */
.pixel:nth-child(481),
.pixel:nth-child(482),
.pixel:nth-child(483),
.pixel:nth-child(484),
.pixel:nth-child(485),
.pixel:nth-child(486),
.pixel:nth-child(487),
.pixel:nth-child(488),
.pixel:nth-child(489),
.pixel:nth-child(490),
.pixel:nth-child(491),
.pixel:nth-child(492),
.pixel:nth-child(493),
.pixel:nth-child(494),
.pixel:nth-child(495),
.pixel:nth-child(496),
.pixel:nth-child(500),
.pixel:nth-child(510) {
  background-color: #028300;
}

/* 18th row */
.pixel:nth-child(511),
.pixel:nth-child(512),
.pixel:nth-child(513),
.pixel:nth-child(514),
.pixel:nth-child(515),
.pixel:nth-child(516),
.pixel:nth-child(517),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(520),
.pixel:nth-child(521),
.pixel:nth-child(522),
.pixel:nth-child(523),
.pixel:nth-child(524),
.pixel:nth-child(525),
.pixel:nth-child(526),
.pixel:nth-child(530),
.pixel:nth-child(534),
.pixel:nth-child(535),
.pixel:nth-child(536),
.pixel:nth-child(537),
.pixel:nth-child(540),
/* 19th row */
.pixel:nth-child(541),
.pixel:nth-child(542),
.pixel:nth-child(543),
.pixel:nth-child(544),
.pixel:nth-child(545),
.pixel:nth-child(546),
.pixel:nth-child(547),
.pixel:nth-child(548),
.pixel:nth-child(549),
.pixel:nth-child(550),
.pixel:nth-child(551),
.pixel:nth-child(552),
.pixel:nth-child(553),
.pixel:nth-child(554),
.pixel:nth-child(555),
.pixel:nth-child(556),
.pixel:nth-child(560),
.pixel:nth-child(564),
.pixel:nth-child(565),
.pixel:nth-child(566),
.pixel:nth-child(567),
.pixel:nth-child(570),
/* 20th row */
.pixel:nth-child(571),
.pixel:nth-child(572),
.pixel:nth-child(573),
.pixel:nth-child(574),
.pixel:nth-child(575),
.pixel:nth-child(576),
.pixel:nth-child(577),
.pixel:nth-child(578),
.pixel:nth-child(579),
.pixel:nth-child(580),
.pixel:nth-child(581),
.pixel:nth-child(582),
.pixel:nth-child(583),
.pixel:nth-child(584),
.pixel:nth-child(585),
.pixel:nth-child(586),
.pixel:nth-child(590),
.pixel:nth-child(594),
.pixel:nth-child(595),
.pixel:nth-child(596),
.pixel:nth-child(597),
.pixel:nth-child(598),
.pixel:nth-child(599),
.pixel:nth-child(600),
/* 21st row */
.pixel:nth-child(601),
.pixel:nth-child(602),
.pixel:nth-child(603),
.pixel:nth-child(604),
.pixel:nth-child(605),
.pixel:nth-child(606),
.pixel:nth-child(607),
.pixel:nth-child(608),
.pixel:nth-child(609),
.pixel:nth-child(610),
.pixel:nth-child(611),
.pixel:nth-child(612),
.pixel:nth-child(613),
.pixel:nth-child(614),
.pixel:nth-child(615),
.pixel:nth-child(616),
.pixel:nth-child(620),
.pixel:nth-child(624),
.pixel:nth-child(625),
.pixel:nth-child(626),
.pixel:nth-child(627),
.pixel:nth-child(628),
.pixel:nth-child(629),
.pixel:nth-child(630) {
  background-color: #2300ff;
}

/* 22nd row */
.pixel:nth-child(631),
.pixel:nth-child(632),
.pixel:nth-child(633),
.pixel:nth-child(634),
.pixel:nth-child(635),
.pixel:nth-child(636),
.pixel:nth-child(637),
.pixel:nth-child(638),
.pixel:nth-child(639),
.pixel:nth-child(640),
.pixel:nth-child(641),
.pixel:nth-child(642),
.pixel:nth-child(643),
.pixel:nth-child(644),
.pixel:nth-child(645),
.pixel:nth-child(646),
.pixel:nth-child(650),
.pixel:nth-child(660),
/* 23rd row */
.pixel:nth-child(661),
.pixel:nth-child(662),
.pixel:nth-child(663),
.pixel:nth-child(664),
.pixel:nth-child(665),
.pixel:nth-child(666),
.pixel:nth-child(667),
.pixel:nth-child(668),
.pixel:nth-child(669),
.pixel:nth-child(670),
.pixel:nth-child(671),
.pixel:nth-child(672),
.pixel:nth-child(673),
.pixel:nth-child(674),
.pixel:nth-child(675),
.pixel:nth-child(676),
.pixel:nth-child(680),
.pixel:nth-child(690),
/* 24th row */
.pixel:nth-child(691),
.pixel:nth-child(692),
.pixel:nth-child(693),
.pixel:nth-child(694),
.pixel:nth-child(695),
.pixel:nth-child(696),
.pixel:nth-child(697),
.pixel:nth-child(698),
.pixel:nth-child(699),
.pixel:nth-child(700),
.pixel:nth-child(701),
.pixel:nth-child(702),
.pixel:nth-child(703),
.pixel:nth-child(704),
.pixel:nth-child(705),
.pixel:nth-child(706),
.pixel:nth-child(710),
.pixel:nth-child(711),
.pixel:nth-child(712),
.pixel:nth-child(713),
.pixel:nth-child(714),
.pixel:nth-child(715),
.pixel:nth-child(716),
.pixel:nth-child(720),
/* 25th row */
.pixel:nth-child(721),
.pixel:nth-child(722),
.pixel:nth-child(723),
.pixel:nth-child(724),
.pixel:nth-child(725),
.pixel:nth-child(726),
.pixel:nth-child(727),
.pixel:nth-child(728),
.pixel:nth-child(729),
.pixel:nth-child(730),
.pixel:nth-child(733),
.pixel:nth-child(734),
.pixel:nth-child(735),
.pixel:nth-child(736),
.pixel:nth-child(740),
.pixel:nth-child(743),
.pixel:nth-child(744),
.pixel:nth-child(745),
.pixel:nth-child(746),
.pixel:nth-child(750) {
  background-color: #540087;
}

/* 26th row */
.pixel:nth-child(751),
.pixel:nth-child(752),
.pixel:nth-child(753),
.pixel:nth-child(754),
.pixel:nth-child(755),
.pixel:nth-child(756),
.pixel:nth-child(757),
.pixel:nth-child(758),
.pixel:nth-child(759),
.pixel:nth-child(760),
.pixel:nth-child(763),
.pixel:nth-child(764),
.pixel:nth-child(765),
.pixel:nth-child(766),
.pixel:nth-child(770),
.pixel:nth-child(773),
.pixel:nth-child(774),
.pixel:nth-child(775),
.pixel:nth-child(776),
.pixel:nth-child(780),
/* 27th row */
.pixel:nth-child(781),
.pixel:nth-child(782),
.pixel:nth-child(783),
.pixel:nth-child(784),
.pixel:nth-child(785),
.pixel:nth-child(786),
.pixel:nth-child(787),
.pixel:nth-child(788),
.pixel:nth-child(789),
.pixel:nth-child(790),
.pixel:nth-child(800),
.pixel:nth-child(810),
/* 28th row */
.pixel:nth-child(811),
.pixel:nth-child(812),
.pixel:nth-child(813),
.pixel:nth-child(814),
.pixel:nth-child(815),
.pixel:nth-child(816),
.pixel:nth-child(817),
.pixel:nth-child(818),
.pixel:nth-child(819),
.pixel:nth-child(820),
.pixel:nth-child(829),
.pixel:nth-child(830),
.pixel:nth-child(839),
.pixel:nth-child(840),
/* 29th row */
.pixel:nth-child(841),
.pixel:nth-child(842),
.pixel:nth-child(843),
.pixel:nth-child(844),
.pixel:nth-child(845),
.pixel:nth-child(846),
.pixel:nth-child(847),
.pixel:nth-child(848),
.pixel:nth-child(849),
.pixel:nth-child(850),
.pixel:nth-child(851),
.pixel:nth-child(858),
.pixel:nth-child(859),
.pixel:nth-child(860),
.pixel:nth-child(861),
.pixel:nth-child(868),
.pixel:nth-child(869),
.pixel:nth-child(870),
/* 30th row */
.pixel:nth-child(871),
.pixel:nth-child(872),
.pixel:nth-child(873),
.pixel:nth-child(874),
.pixel:nth-child(875),
.pixel:nth-child(876),
.pixel:nth-child(877),
.pixel:nth-child(878),
.pixel:nth-child(879),
.pixel:nth-child(880),
.pixel:nth-child(881),
.pixel:nth-child(882),
.pixel:nth-child(883),
.pixel:nth-child(884),
.pixel:nth-child(885),
.pixel:nth-child(886),
.pixel:nth-child(887),
.pixel:nth-child(888),
.pixel:nth-child(889),
.pixel:nth-child(890),
.pixel:nth-child(891),
.pixel:nth-child(892),
.pixel:nth-child(893),
.pixel:nth-child(894),
.pixel:nth-child(895),
.pixel:nth-child(896),
.pixel:nth-child(897),
.pixel:nth-child(898),
.pixel:nth-child(899),
.pixel:nth-child(900) {
  background-color: #cf00ff;
}

/* 15th row */
.pixel:nth-child(437),
.pixel:nth-child(438),
.pixel:nth-child(439),
.pixel:nth-child(443),
.pixel:nth-child(444),
.pixel:nth-child(445),
.pixel:nth-child(446),
.pixel:nth-child(447),
.pixel:nth-child(448),
/* 16th row */
.pixel:nth-child(467),
.pixel:nth-child(468),
.pixel:nth-child(469),
.pixel:nth-child(472),
.pixel:nth-child(473),
.pixel:nth-child(474),
.pixel:nth-child(475),
.pixel:nth-child(476),
.pixel:nth-child(477),
.pixel:nth-child(478),
.pixel:nth-child(479),
/* 17th row */
.pixel:nth-child(497),
.pixel:nth-child(498),
.pixel:nth-child(499),
.pixel:nth-child(501),
.pixel:nth-child(502),
.pixel:nth-child(503),
.pixel:nth-child(504),
.pixel:nth-child(505),
.pixel:nth-child(506),
.pixel:nth-child(507),
.pixel:nth-child(508),
.pixel:nth-child(509),
/* 18th row */
.pixel:nth-child(527),
.pixel:nth-child(528),
.pixel:nth-child(529),
.pixel:nth-child(531),
.pixel:nth-child(532),
.pixel:nth-child(533),
.pixel:nth-child(538),
.pixel:nth-child(539),
/* 19th row */
.pixel:nth-child(557),
.pixel:nth-child(558),
.pixel:nth-child(559),
.pixel:nth-child(561),
.pixel:nth-child(562),
.pixel:nth-child(563),
.pixel:nth-child(568),
.pixel:nth-child(569),
/* 20th row */
.pixel:nth-child(587),
.pixel:nth-child(588),
.pixel:nth-child(589),
.pixel:nth-child(591),
.pixel:nth-child(592),
.pixel:nth-child(593),
/* 21st row */
.pixel:nth-child(617),
.pixel:nth-child(618),
.pixel:nth-child(619),
.pixel:nth-child(621),
.pixel:nth-child(622),
.pixel:nth-child(623),
/* 22nd row */
.pixel:nth-child(647),
.pixel:nth-child(648),
.pixel:nth-child(649),
.pixel:nth-child(651),
.pixel:nth-child(652),
.pixel:nth-child(653),
.pixel:nth-child(654),
.pixel:nth-child(655),
.pixel:nth-child(656),
.pixel:nth-child(657),
.pixel:nth-child(658),
.pixel:nth-child(659),
/* 23rd row */
.pixel:nth-child(677),
.pixel:nth-child(678),
.pixel:nth-child(679),
.pixel:nth-child(681),
.pixel:nth-child(682),
.pixel:nth-child(683),
.pixel:nth-child(684),
.pixel:nth-child(685),
.pixel:nth-child(686),
.pixel:nth-child(687),
.pixel:nth-child(688),
.pixel:nth-child(689),
/* 24th row */
.pixel:nth-child(707),
.pixel:nth-child(708),
.pixel:nth-child(709),
.pixel:nth-child(717),
.pixel:nth-child(718),
.pixel:nth-child(719),
/* 25th row */
.pixel:nth-child(731),
.pixel:nth-child(732),
.pixel:nth-child(737),
.pixel:nth-child(738),
.pixel:nth-child(739),
.pixel:nth-child(741),
.pixel:nth-child(742),
.pixel:nth-child(747),
.pixel:nth-child(748),
.pixel:nth-child(749),
/* 26th row */
.pixel:nth-child(761),
.pixel:nth-child(762),
.pixel:nth-child(767),
.pixel:nth-child(768),
.pixel:nth-child(769),
.pixel:nth-child(771),
.pixel:nth-child(772),
.pixel:nth-child(777),
.pixel:nth-child(778),
.pixel:nth-child(779),
/* 27th row */
.pixel:nth-child(791),
.pixel:nth-child(792),
.pixel:nth-child(793),
.pixel:nth-child(794),
.pixel:nth-child(795),
.pixel:nth-child(796),
.pixel:nth-child(797),
.pixel:nth-child(798),
.pixel:nth-child(799),
.pixel:nth-child(801),
.pixel:nth-child(802),
.pixel:nth-child(803),
.pixel:nth-child(804),
.pixel:nth-child(805),
.pixel:nth-child(806),
.pixel:nth-child(807),
.pixel:nth-child(808),
.pixel:nth-child(809),
/* 28th row */
.pixel:nth-child(821),
.pixel:nth-child(822),
.pixel:nth-child(823),
.pixel:nth-child(824),
.pixel:nth-child(825),
.pixel:nth-child(826),
.pixel:nth-child(827),
.pixel:nth-child(828),
.pixel:nth-child(831),
.pixel:nth-child(832),
.pixel:nth-child(833),
.pixel:nth-child(834),
.pixel:nth-child(835),
.pixel:nth-child(836),
.pixel:nth-child(837),
.pixel:nth-child(838),
/* 29th row */
.pixel:nth-child(852),
.pixel:nth-child(853),
.pixel:nth-child(854),
.pixel:nth-child(855),
.pixel:nth-child(856),
.pixel:nth-child(857),
.pixel:nth-child(862),
.pixel:nth-child(863),
.pixel:nth-child(864),
.pixel:nth-child(865),
.pixel:nth-child(866),
.pixel:nth-child(867) {
  background-color: #fff;
}
